
<div class='row' style='padding-bottom:5px;'>
    <div class='col-md-3 h3' style='margin:0;padding:6px;padding-left:15px;'>Alert List</div>
    <div class='col-md-5 text-right'>
        <dir-pagination-controls></dir-pagination-controls>
    </div>
     <div class='col-md-1'>
     <select class="form-control" ng-model="itemsPerPage"  ng-options="val for val in itemsPerPageOptions">
     </select>
    </div>
    <div class='col-md-3'>
        <span class="pull-right input-group">
            <input type="text" class="form-control" placeholder="Search..." ng-model="searchText">
            <span class="input-group-btn" style='padding-right:5px;'>
                <button class="btn btn-default dropdown-toggle" ng-show="searchText" ng-click="searchText = ''">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </button>
                <button class="btn btn-default active" ng-show="!searchText">
                    <span class="glyphicon glyphicon-filter"></span>
                </button>
            </span>
        </span>
    </div>
</div>
<table class="table table-striped table-bordered">
    <tr>
        <th>ID</th><th>Name</th><th>CRON Entry</th><th>Created</th><th>Last Modified</th><th>Owner</th><th>State</th>
        <th class="col-centered">
            <button class="btn btn-success btn-sm" type="button" ng-click="addAlert()">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
        </th>
    </tr>
    <tr dir-paginate="alert in alerts | filter:searchText |  orderBy:'name' | itemsPerPage:itemsPerPage">
        <td>{{alert.id}}</td>
        <td><a href="#/alerts/{{alert.id}}">{{alert.name}}</a></td>
        <td>{{alert.cronEntry}}</td>
        <td>{{alert.createdDate| date:'medium'}}</td>
        <td>{{alert.modifiedDate| date:'medium'}}</td>
        <td>{{alert.ownerName}}</td>
        <td>
            <button class="btn btn-default btn-sm" type="button" title='Enable alert' ng-show='!alert.enabled'
                    ng-click='enableAlert(alert, true)'>
                <i class="glyphicon glyphicon-play"></i>
            </button>
            <button class="btn btn-default btn-sm" type="button" title='Disable alert' ng-show='alert.enabled'
                    ng-click='enableAlert(alert, false)'>
                <i class="glyphicon glyphicon-pause"></i>
            </button>
        </td>
        <td>
            <button class="btn btn-warning btn-sm" type="button"
                    ng-confirm='Delete "{{alert.name}}"?' ng-confirm-action='removeAlert(alert)'>
                <i class="glyphicon glyphicon-trash"></i>
            </button>
        </td>
    </tr>
</table>