target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
*.log
logs/
nbactions.xml
nb-configuration.xml
argus-build.properties
.DS_Store
.idea
.Project
.classpath
property
