target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
*.log
logs/
nbactions.xml
nb-configuration.xml
argus-build.properties
.settings/
.DS_Store
/config

# Eclipse ignore
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.[pP]roject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# Intellij
.idea/
*.iml
*.ipr
*.iws

Makefile
property

#Scripts
update_tomcat.sh
update_views.sh

#webpack
/ArgusWeb/dist
/ArgusCore/src/main/java/com/salesforce/dva/argus/service/annotation/AnnotationReaderConstants.java
/ArgusCore/src/main/java/com/salesforce/dva/argus/service/annotation/AnnotationReaderTokenManager.java
/ArgusCore/src/main/java/com/salesforce/dva/argus/service/annotation/ParseException.java
/ArgusCore/src/main/java/com/salesforce/dva/argus/service/annotation/SimpleCharStream.java
/ArgusCore/src/main/java/com/salesforce/dva/argus/service/annotation/Token.java
/ArgusCore/src/main/java/com/salesforce/dva/argus/service/annotation/TokenMgrError.java
/ArgusCore/src/main/java/com/salesforce/dva/argus/service/metric/MetricReader.java
/ArgusCore/src/main/java/com/salesforce/dva/argus/service/metric/MetricReaderConstants.java
/ArgusCore/src/main/java/com/salesforce/dva/argus/service/metric/MetricReaderTokenManager.java
/ArgusCore/src/main/java/com/salesforce/dva/argus/service/metric/ParseException.java
/ArgusCore/src/main/java/com/salesforce/dva/argus/service/metric/SimpleCharStream.java
/ArgusCore/src/main/java/com/salesforce/dva/argus/service/metric/Token.java
/ArgusCore/src/main/java/com/salesforce/dva/argus/service/metric/TokenMgrError.java
/ArgusCore/src/main/java/com/salesforce/dva/argus/util/CronTabEntry.java
/ArgusCore/src/main/java/com/salesforce/dva/argus/util/CronTabEntryConstants.java
/ArgusCore/src/main/java/com/salesforce/dva/argus/util/CronTabEntryTokenManager.java
/ArgusCore/src/main/java/com/salesforce/dva/argus/util/ParseException.java
/ArgusCore/src/main/java/com/salesforce/dva/argus/util/SimpleCharStream.java
/ArgusCore/src/main/java/com/salesforce/dva/argus/util/Token.java
/ArgusCore/src/main/java/com/salesforce/dva/argus/util/TokenMgrError.java
/ArgusCore/src/main/java/com/salesforce/dva/argus/service/annotation/AnnotationReader.java
