<h3><a href='https://github.com/salesforce/Argus/releases' target="_blank">About Argus Versions</a></h3>
Argus collects time series metric data from various sources and provides users a variety of tools to chart and analyze the information.<br>

<ul class="list-group">
    <li class="list-unstyled"><a href="{{config.emailUrl}}" target="_blank">Contact</a></li>
    <li class="list-unstyled"><a href="{{config.feedUrl}}" target="_blank">Chatter Feed</a></li>
    <li class="list-unstyled"><a href="{{config.wikiUrl}}" target="_blank">Github Wiki</a></li>
    <li class="list-unstyled"><a href="{{config.docUrl}}" target="_blank">Internal Documentation</a></li>
    <li class="list-unstyled"><a href="{{config.issueUrl}}" target="_blank">Report a Bug</a></li>
    <li class='list-unstyled'><a href='{{config.wsUrl}}help' target="_blank">REST Endpoint</a></li>
</ul>
