<div class="agTable" ng-if="!tableLoaded">
    <div ng-loading="tableLoaded"></div>
</div>
<div ng-transclude="" style="display:none"></div>
<div id="{{tableId}}" class="agTableDiv" style="display:none">
    <div  class="row">
        <div class="col-md-4 h4">{{processedOptions.title? processedOptions.title.text: ""}}</div>

        <div class="col-md-4 text-right">
            <!-- $id is scope id, cannot use tableId here because it is generated after first render -->
            <dir-pagination-controls pagination-id="$id"></dir-pagination-controls>
        </div>
        <div class="col-md-1">
            <select class="form-control" ng-model="itemsPerPage"
                    ng-options="val for val in itemsPerPageOptions"></select>
        </div>
        <div class="col-md-3">
            <span class="pull-right input-group">
                <input type="text" class="form-control" placeholder="Search..." ng-model="searchText">
                <span class="input-group-btn">
                    <button class="btn btn-default dropdown-toggle" ng-show="searchText" ng-click="searchText = ''">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button class="btn btn-default active" ng-show="!searchText">
                        <span class="glyphicon glyphicon-filter"></span>
                    </button>
                </span>
            </span>
        </div>

    </div>
    <div>
        <table class="table table-striped table-bordered agTable">
            <thead>
            <tr class="agTableHeadRow">
                <th class="agTableHead" ng-style="{'z-index': 2, 'height': headerHeight + 'px', 'top': headerTop+'px', 'left': headerLeft+'px'}" ng-click="sort(colNames)">
                    <span ng-bind-html="toTrustedHTML(topLeftString)"></span>
                    <span class="glyphicon sort-icon" ng-show="sortKey===colNames.firstCol"
                          ng-class="{'glyphicon-chevron-right': reverse == -1,'glyphicon-chevron-left': reverse == 1}"></span>
                </th>
                <th class="agTableHead" ng-style="{'left':'{{($index+1)*180}}px','top': headerTop+'px', 'height': headerHeight}"
                    ng-repeat="(key, value) in (colNames | agTableSortInRow: sortedSourceIndices) track by $index"
                    >
                    {{value}}
                </th>
            </tr>
            <!--place holder for the absolute positioned header, removing this will lead to the second column overlap the first in tbody -->
            <tr class="agTableFirstRow" ng-style="{'height': headerHeight + 'px'}"><td></td></tr>
            </thead>
            <tbody>
            <tr dir-paginate="item in results |itemsPerPage:itemsPerPage track by $index"
                current-page="currentPage" pagination-id="$id">
                <td class="agTableHead" ng-style="{'z-index': 1, 'left': headerLeft +'px', 'height': rowHeight = processRowHeight(item) + 'px'}" ng-click="sort(item)">{{oneRow?item.firstCol : item.dateTime}}
                    <span class="glyphicon sort-icon" ng-show="sortKey===item.firstCol"
                          ng-class="{'glyphicon-chevron-right': reverse == -1,'glyphicon-chevron-left': reverse == 1}"></span>
                </td>
                <td ng-repeat="value in (item | agTableSortInRow: sortedSourceIndices) track by $index" ng-style="{'height':rowHeight}">{{value}}</td>
            </tr>
            </tbody>
        </table>

        <!--<table ng-show="oneRow" class="table table-striped table-bordered agTable agTableOneRow">-->
            <!--<thead>-->
            <!--<tr class="agTableHeadRow">-->
                <!--<th class="agTableHead" ng-style="{'z-index': 2, 'height': headerHeight + 'px', 'top': headerTop+'px', 'left': headerLeft+'px'}" ng-click="sortInColumn('firstCol')">-->
                    <!--<span ng-bind-html="toTrustedHTML(topLeftString)"></span>-->
                    <!--<span class="glyphicon sort-icon" ng-show="sortKeyInColumn==='firstCol'"-->
                          <!--ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"-->
                    <!--&gt;</span>-->
                <!--</th>-->
                <!--<th class="agTableHead" ng-style="{'left':'{{($index+1)*180}}px','top': headerTop+'px', 'height': headerHeight}"-->
                    <!--ng-repeat="(key, value) in (colNames | agTableSortInRow: sortedSourceIndices) track by $index"-->
                    <!--ng-click = "sortInColumn(key)"-->
                <!--&gt;-->
                    <!--{{value}}-->
                    <!--<span class="glyphicon sort-icon" ng-show="sortKeyInColumn===key"-->
                          <!--ng-class="{'glyphicon-chevron-up':reverseInColumn,'glyphicon-chevron-down':!reverseInColumn}"-->
                          <!--&gt;</span>-->
                <!--</th>-->
            <!--</tr>-->
            <!--&lt;!&ndash;place holder for the absolute positioned header, removing this will lead to the second column overlap the first in tbody &ndash;&gt;-->
            <!--<tr class="agTableFirstRow" ng-style="{'height': headerHeight + 'px'}"><td></td></tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr dir-paginate="item in results |orderBy: sortKeyInColumn: reverseInColumn |itemsPerPage:itemsPerPage track by $index"-->
                <!--current-page="currentPage">-->
                <!--<td class="agTableHead" ng-style="{'z-index': 1, 'left': headerLeft +'px', 'height': rowHeight = processRowHeight(item) + 'px'}"-->
                    <!--ng-click="sort(item)">-->
                    <!--{{oneRow?item.firstCol : item.dateTime}}-->
                <!--</td>-->
                <!--<td ng-repeat="value in (item | agTableSortInRow: sortedSourceIndices) track by $index" ng-style="{'height':rowHeight}">{{value}}</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    </div>
    <div ng-if="loaded">
        <div class="row text-center" ng-show="searchText.length === 0">
            <ng-pluralize count="dataSet.length"
                          when="{'0': 'No {{}} to show.',
                      'one': 'Showing 1 of 1 {{}}.',
                      'other': 'Showing {{start}}-{{end}} of all {{dataSet.length}} {{}}.'}">
            </ng-pluralize>
        </div>
        <!--after user type in searchText-->
        <div class="row text-center" ng-show="searchText.length">
            <ng-pluralize count="results.length"
                          when="{'0': 'No results found...',
                      'one': '1 result found.',
                      'other': '{{results.length}} results found.'}">
            </ng-pluralize>
        </div>
    </div>
</div>

