<section>
    <div class='container' ng-if="!checkingAccess && showAuthorizeButton">
        <div class='row'>
            <div class='col-md-6'>
                <p><span class='h3'>Authorize "Grafana" Application to access Argus using your account {{user}}</span></p>
            </div>
        </div>
        <div class='row'>
            <div>
                <button class="btn btn-primary" ng-click="authorize()">Authorize</button>
                <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
    <div ng-if="checkingAccess">
        <p><span class='h3'>Checking access...</span></p>
    </div>
  <br/>
</section>
