<!doctype html>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
           <img src="img/argus_logo_rgb.png" alt="" style="height:50px;" class="pull-left">
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" ng-show="isLoggedIn()">
                <li ng-class="{'activeTab': activeTab === 'dashboards'}">
                    <a class="glyphicon glyphicon-dashboard" href="#dashboards" title="Dashboards"></a>
                </li>
                <li ng-class="{'activeTab': activeTab === 'alerts'}">
                    <a class="glyphicon glyphicon-bell" href={{alertUrl}} title="Alerts"></a>
                </li>
                <li ng-class="{'activeTab': activeTab === 'metrics'}">
                    <a class="glyphicon glyphicon-stats" href="#viewmetrics" title="Metrics"></a>
                </li>
                <li ng-class="{'activeTab': activeTab === 'beta', 'hide': true}">
                    <a class="betaTab" href="#beta" title="Features currently in Beta testing">Beta</a>
                </li>
                <li class="topMenu" ng-class="{'activeTab': activeTab === 'about' || activeTab === 'namespace'}" style="white-space: nowrap;">
                    <a class="glyphicon glyphicon-menu-hamburger"></a>
                    <ul class="subMenu menuPanel">
                        <li><a href="#namespace">Namespace</a></li>
                        <li><a href="#/oauthManagement">OAuth Management</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#/login" ng-click="logout()">Logout</a></li>
                    </ul>
                </li>
                <li><p class="navbar-text" ng-show="isLoggedIn()" ng-cloak>{{currentUser()}}</p></li>
            </ul>
        </div>
    </div>
</nav>
