<!DOCTYPE html>
<div class="row">
    <div class="col-md-9">
        <div class="h3">Metrics Discovery Browsing</div>
    </div>
    <div class="col-md-3">
        <div class="input-group" id="browsingSearch">
            <input type="text" class="form-control" placeholder="Search for..." ng-model="expression">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit" ng-click="goToNode()">Go!</button>
            </span>
        </div><!-- /input-group -->
    </div>
</div>
<div id="treeDiagram"></div>
