<div class="h3">Metrics</div>
<section>
<form novalidate class="form-horizontal" ng-enter="getMetricData()" name="search_metrics">
    <div class="input-group search-bar">
        <span class="input-group-btn" style="font-size:inherit;">
          <a ng-click="showMetricDiscovery = true; showChart = false;" class="glyphicon glyphicon-search" title="View Metric Discovery" style="cursor:pointer;"></a>
        </span>
        <input type="text" class="form-control" placeholder="Enter expression" ng-model="expression" />
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="getMetricData()">Go!</button>
        </span>
    </div>

    <div id="discoveryLookup" ng-show="showMetricDiscovery">

    <hr width="100%" />

    <h4>Discovery lookup</h4>

    <p>Choose your search criteria from the categories below:<br />
        <span style="font-size:12px; color:#AAA;">*Results make take several seconds to appear</span>
    </p>
    
    <div class="fullBox">
    
    <div class="metricFields">
        <label>Scope</label>
        <input type="text" class="form-control" placeholder="Scope" autocomplete="off" ng-model="scope"
        typeahead-min-length="3"
        typeahead-wait-ms="500"
        typeahead-no-results="noResults"
        uib-typeahead="result for result in searchMetrics($viewValue, 'scope')"
        typeahead-template-url="scopeTemplate.html" />
        <script type="text/ng-template" id="scopeTemplate.html">
          <a class="autoComplete">
              <span ng-bind-html="match.model | uibTypeaheadHighlight:query"></span>
          </a>
        </script>
    </div>

    <div class="metricFields">
        <label>Metric</label>
        <input type="text" class="form-control" placeholder="Metric" autocomplete="off" ng-model="metric" 
        typeahead-min-length="3"
        typeahead-wait-ms="500"
        typeahead-no-results="noResults"
        uib-typeahead="result for result in searchMetrics($viewValue, 'metric')"
        typeahead-template-url="metricTemplate.html"
        />
        <script type="text/ng-template" id="metricTemplate.html">
          <a class="autoComplete">
              <span ng-bind-html="match.model | uibTypeaheadHighlight:query"></span>
          </a>
        </script>
    </div>

    <div></div>

    <div ng-show="enterTagsErr" style="color:red;">You must enter both a <strong>Tag key AND Tag value</strong>!</div>
    
    <div class="metricFields">
        <label>Tag key</label>
        <input type="text" class="form-control" placeholder="Tag key" autocomplete="off" ng-model="tagk" 
        typeahead-min-length="0"
        typeahead-wait-ms="250"
        typeahead-no-results="noResults"
        uib-typeahead="result for result in searchMetrics($viewValue, 'tagk')"
        typeahead-template-url="tagkTemplate.html"
        ng-disabled="isSearchMetricDisabled()"
        />
        <script type="text/ng-template" id="tagkTemplate.html">
          <a class="autoComplete">
              <span ng-bind-html="match.model | uibTypeaheadHighlight:query"></span>
          </a>
        </script>
    </div>
    
    <div class="metricFields">
        <label>Tag value</label>
        <input type="text" class="form-control" placeholder="Tag value" autocomplete="off" ng-model="tagv" 
        typeahead-min-length="0"
        typeahead-wait-ms="250"
        typeahead-no-results="noResults"
        uib-typeahead="result for result in searchMetrics($viewValue, 'tagv')"
        typeahead-template-url="tagvTemplate.html"
        ng-disabled="isSearchMetricDisabled()"
        />
        <script type="text/ng-template" id="tagvTemplate.html">
          <a class="autoComplete">
              <span ng-bind-html="match.model | uibTypeaheadHighlight:query"></span>
          </a>
        </script>
    </div>

    <div></div>
        
    <div class="metricFields">
        <label>Namespace</label>
        <input type="text" class="form-control" placeholder="Namespace" autocomplete="off" ng-model="namespace" 
        typeahead-min-length="3"
        typeahead-wait-ms="500"
        typeahead-no-results="noResults"
        uib-typeahead="result for result in searchMetrics($viewValue, 'namespace')"
        typeahead-template-url="namespaceTemplate.html"
        ng-disabled="isSearchMetricDisabled()"
        />
        <script type="text/ng-template" id="namespaceTemplate.html">
          <a class="autoComplete">
              <span ng-bind-html="match.model | uibTypeaheadHighlight:query"></span>
          </a>
        </script>
    </div>

    <div></div>

    <div class="metricFields" style="padding-top:.5em;">
        <span ng-show="false"><strong>Metric Expression:</strong> &nbsp;</span><span id="searchExpression"></span>
        <div>
            <input type="reset" class="btn btn-default" value="Clear" ng-click="setPristine()" style="margin-right:5em;" />
            <input type="button" class="btn btn-success glyhpicon glyhpicon-search" value="Add" ng-disabled="isSearchMetricDisabled()" ng-click="addSearchExpression()" /> &nbsp;
            <input type="button" class="btn btn-primary" value="Graph" ng-disabled="isSearchMetricDisabled()" ng-click="graphSearchExpression()" />
        </div>
    </div>

    </div><!-- fullBox -->

    </div><!-- discoveryLookup -->

</form>

    <hr width="100%" />

    <div growl inline="true" reference="viewmetrics-error"></div>

    <div id="container" class="graphContainer" ng-show="showChart" width="100%"></div>
</section>
