<h3>About Argus Version {{config.version}}</h3>
Argus collects time series metric data from various sources and provides users a variety of tools to chart and analyze the information.<br>

<ul class="list-group">
    <li class="list-unstyled"><a href="{{config.emailUrl}}" target="_blank">Contact</a></li>
    <li class="list-unstyled"><a href="{{config.feedUrl}}" target="_blank">Feed</a></li>
    <li class="list-unstyled"><a href="{{config.wikiUrl}}" target="_blank">Wiki</a></li>
    <li class="list-unstyled"><a href="{{config.issueUrl}}" target="_blank">Report a Bug</a></li>
    <li class='list-unstyled'><a href='{{config.wsUrl}}/help' target="_blank">REST Endpoint</a></li>
</ul>
