
system.property.build=1.0
system.property.log.level=INFO
system.property.version=2.0
system.property.admin.email=argus-dev@salesforce.com
system.property.mail.enabled=false
system.property.goc.enabled=false
service.binding.cache=com.salesforce.dva.argus.service.cache.RedisCacheService
service.config.cache=/Users/vmuruganantham/Argus/properties/redis.properties
service.binding.mq=com.salesforce.dva.argus.service.mq.kafka.KafkaMessageService
service.config.mq=/Users/vmuruganantham/Argus/properties/kafka.properties
service.binding.alert=com.salesforce.dva.argus.service.alert.DefaultAlertService
service.config.alert=/Users/vmuruganantham/Argus/properties/alert.properties
service.config.notifier=/Users/vmuruganantham/Argus/properties/notifier.properties
service.binding.scheduling=com.salesforce.dva.argus.service.schedule.QuartzSchedulingService
service.config.scheduling=/Users/vmuruganantham/Argus/properties/scheduling.properties
service.binding.mail=com.salesforce.dva.argus.service.mail.DefaultMailService
service.config.mail=/Users/vmuruganantham/Argus/properties/mail.properties
service.binding.auth=com.salesforce.dva.argus.service.auth.LDAPAuthService
service.config.auth=/Users/vmuruganantham/Argus/properties/ldap.properties
service.binding.schema=com.salesforce.dva.argus.service.schema.AsyncHbaseSchemaService
service.config.schema=/Users/vmuruganantham/Argus/properties/asynchbase.properties
service.binding.tsdb=com.salesforce.dva.argus.service.tsdb.SingletonTSDBService
service.config.tsdb=/Users/vmuruganantham/Argus/properties/cachedtsdb.properties

