<div class="topToolbar">
	<div id="topTb-{{chartId}}">
		<div class="toolbarItem legend floatPanel" ng-if="!(sources | isEmpty)"
			ng-class="{open: hover}"
			ng-mouseover="hover = true"
			ng-mouseleave="hover = false">

			<ul style="padding-left:0;">
			<li ng-repeat="source in sources track by $index">
				<span class="glyphicon glyphicon-minus" ng-style="{color: labelTextColor(source)}"></span>
				<a ng-click="toggleSource(source)" title="Hide">{{source.name}}</a> &nbsp; <a class="eyeIcon open" ng-click="hideOtherSources(source)" title="Hide all other(s)"></a>
			</li>
			</ul>
		</div>

		<div class="toolbarItem graphControls floatR">
			<div class="toolbarMenu topMenu">
				<a class="glyphicon glyphicon-menu-hamburger"></a>
				<ul class="subMenu menuPanel list-group">
				<li>
					<button name="oneHour" disabled="disabled">1h</button>
				</li>
				<li>
					<button name="oneDay" disabled="disabled">1d</button>
				</li>
				<li>
					<button name="oneWeek" disabled="disabled">1w</button>
				</li>
				<li>
					<button name="oneMonth" disabled="disabled">1m</button>
				</li>
				<li>
					<button name="oneYear" disabled="disabled">1y</button>
				</li>
				</ul>
			</div>

			<div class="toolbarMenu topMenu">
				<a class="glyphicon glyphicon-cog"></a>
				<ul class="subMenu menuPanel list-group">
				<li>
					<input type="checkbox" name="toggle-brush" id="toggle-brush-{{chartId}}" ng-model="isBrushOn" />
					<label for="toggle-brush-{{chartId}}" title="Toggle view of time brush">Time brush</label>
				</li>
				<li>
					<input type="checkbox" name="toggle-brush-main" id="toggle-brush-main-{{chartId}}" ng-model="isBrushMainOn" />
					<label for="toggle-brush-main-{{chartId}}" title="Toggle time brush on main chart">Brush on main chart</label>
				</li>
				<li>
					<input type="checkbox" name="toggle-wheel" id="toggle-wheel-{{chartId}}" ng-model="isWheelOn" />
					<label for="toggle-wheel-{{chartId}}" title="Toggle mouse wheel to zoom">Mouse zooming</label>
				</li>
				<li>
					<input type="checkbox" name="toggle-tooltip" id="toggle-tooltip-{{chartId}}" ng-model="isTooltipOn" />
					<label for="toggle-tooltip-{{chartId}}" title="Toggle tooltip on mouseover">Tooltip</label>
				</li>
				</ul>
			</div>

			<div class="toolbarMenu topMenu">
				<a name="reset" class="glyphicon glyphicon-repeat" title="Reset graph settings" style="cursor:pointer;"></a>
			</div>
		</div>

		<div class="toolbarItem right dateRange" id="date-range-{{chartId}}">{{dateRange}}</div>
	</div>
</div>
