<div class="topToolbar">
	<div id="topTb-{{chartId}}">
		<div class="toolbarItem graphControls">
			<button id="reset" class="glyphicon glyphicon-refresh"></button>
			<button id="oneHour" disabled="disabled">1h</button>
			<button id="oneDay" disabled="disabled">1d</button>
			<button id="oneWeek" disabled="disabled">1w</button>
			<button id="oneMonth" disabled="disabled">1m</button>
			<button id="oneYear" disabled="disabled">1y</button>

			<div class="toolbarMenu topMenu">
				<a class="glyphicon glyphicon-menu-hamburger"></a>
				<ul class="subMenu menuPanel list-group">
					<li>
						<input type="checkbox" id="toggle-brush" ng-model="isBrushOn" />
						<label for="toggle-brush">Time brush</label>
					</li>
					<li>
						<input type="checkbox" id="toggle-wheel" ng-model="isWheelOn" />
						<label for="toggle-wheel">Mouse scrolling</label>
					</li>
				</ul>
				</a>
			</div>
		</div>

		<div class="toolbarItem center legend" ng-if="!(sources | isEmpty)">
			<ul class="sources">
				<li><span>{{sources.name}}</span> - <span>{{sources.value | nullable_decimal}}</span></li>
			</ul>
		</div>

		<div class="toolbarItem right dateRange" id="date-range"></div>
	</div>
</div>
