<div class="topToolbar">
	<div id="topTb-{{chartId}}">
		<div class="toolbarItem graphControls">
			<a name="reset" class="glyphicon glyphicon-refresh topMenu" style="cursor:pointer;"></a>

			<div class="toolbarMenu topMenu">
				<a class="glyphicon glyphicon-menu-hamburger"></a>
				<ul class="subMenu menuPanel list-group">
				<li>
					<button name="oneHour" disabled="disabled">1h</button>
				</li>
				<li>
					<button name="oneDay" disabled="disabled">1d</button>
				</li>
				<li>
					<button name="oneWeek" disabled="disabled">1w</button>
				</li>
				<li>
					<button name="oneMonth" disabled="disabled">1m</button>
				</li>
				<li>
					<button name="oneYear" disabled="disabled">1y</button>
				</li>
				</ul>
			</div>

			<div class="toolbarMenu topMenu">
				<a class="glyphicon glyphicon-cog"></a>
				<ul class="subMenu menuPanel list-group">
				<li>
					<input type="checkbox" name="toggle-brush" id="toggle-brush-{{chartId}}" ng-model="isBrushOn" />
					<label for="toggle-brush-{{chartId}}">Time brush</label>
				</li>
				<li>
					<input type="checkbox" name="toggle-wheel" id="toggle-wheel-{{chartId}}" ng-model="isWheelOn" />
					<label for="toggle-wheel-{{chartId}}">Mouse scrolling</label>
				</li>
				</ul>
			</div>
		</div>

		<div class="toolbarItem legend floatPanel" ng-if="!(sources | isEmpty)">
			<ul style="padding-left:0;">
			<li ng-repeat="source in sources track by $index">
				<!--<div ng-style="{color: labelTextColor(source)}">-->
					<span class="glyphicon glyphicon-minus" ng-style="{color: labelTextColor(source)}"></span>
					<span ng-click="toggleSource(source)">{{source.name}}</span> -
					<span ng-click="hideOtherSources(source)">Hide others</span>
					<!-- - {{source.value | nullable_decimal | base10si}}-->
				<!--</div>-->
			</li>
			</ul>
		</div>

		<div class="toolbarItem right dateRange" id="date-range-{{chartId}}">{{dateRange}}</div>
	</div>
</div>
