<section>
    <form novalidate class="form-horizontal">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click='getMetricData()'>Go!</button>
                </span>
                <input type="text" class="form-control" placeholder="Enter metric expression..." ng-model='expression'>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <a style='color:inherit' href='{{getBookmarkLink()}}' class='glyphicon glyphicon-bookmark'></a>
                    </button>
                </span>
            </div><!-- /input-group -->
    </form>
    <br/>
    <div growl inline="true" reference="viewmetrics-error"></div>
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</section>
